#submit-button {
  width: 60vw;
}

#globalError {
  color: orangered;
  text-align: center;
}

#logout-form, #like-form, #delete-post-form {
  display: none;
}

.center {
  text-align: center;
}

.center form {
  display: inline-block;
}

#profile-image {
  max-width: 70vw;
  max-height: 50vh;
}

#full-name {
  font-weight: bold;
}

#edit-button {
  width: 20vw;
  font-size: 25px;
  font-weight: bold;
}