<div class="center">
  <form action="/login" method="post" class="form-horizontal">
    <div class="form-group">
      <input type="text" name="username" id="username" class="form-control" placeholder="Username" value={{username}}>
    </div>

    <div class="form-group">
      <input type="password" name="password" id="password" class="form-control" placeholder="Password">
    </div>

    <div class="form-group">
      <input type="submit" value="Login" class="btn btn-lg btn-success">
    </div>
  </form>
</div>